# PlatformIO & Build-Dateien
.pio/
**/.pio/
build/
*.hex
*.elf
*.bin

# IDE Spezifisch
.vscode/
.idea/
*.swp

# Betriebssystem
.DS_Store
Thumbs.db

# Sensitive Daten (Passwörter/WLAN)
secrets.h
**/secrets.h